.order-btn {
  font-family: 'Ubuntu', Helvetica, sans-serif;
	font-size:  0.8125rem;
  font-weight: 500;
  color: $color-white;
	text-transform: uppercase;
	width: 95px;
	height: 35px;
	background-color: #e45028;
	border-radius: 0.3125rem;
	display: inline-block;
	text-align: center;
	padding: 0.5625rem 1rem;
  transition: .5s;
  // margin-left: 15px;
}
