.features {
	position: relative;
	height:100%;
	min-height: 650px;
	width: 100vw;
	background-color: #ffffff;
	background-image: url(../img/bg-scr-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	&__header {
	  margin-bottom: 80px;
	}
	&__list {
		display: flex;
	}
	&__item {
	  display: flex;
	  flex-direction: column;
	  align-items:center;
	  flex-basis: 33%;
	}
	&__item:not(:last-child) {
		margin-right: 21px;
	}
	&__img {
		display: flex;
		margin-bottom: 30px;
	}
	&__title {
		display: flex;
		align-items: center;
		min-height: 25%;
		margin-bottom: 15px;
	}
	&__text {
		display: flex;
		opacity: .8;
	}
}
