.team {
  min-height: 650px;
	width: 100vw;
	background-color: #80898e;
  background: url(../img/team_bg.jpg) 50% no-repeat;
  background-size: cover;
  position: relative;
  &__block {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: rgba(47, 50, 52, 0.93);
    padding: 5% 4% 0 8%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  &__title {
    color: #f9b43b;
    font-size: 4.5rem;
    font-family: 'Gagalin-Regular', Helvetica, sans-serif;
    margin-bottom: 3.625rem;
  }
  &__list {
    padding: 0;
    margin: 0;
  }
  &__item {
    margin-bottom: 1.875rem;
  }
  &__name {
    color: #fff;
    font-size: 0.875rem;
    font-family: 'Gagalin-Regular', Helvetica, sans-serif;
    position: relative;
    display: inline-flex;
    margin-bottom: 1.25rem;
    align-items: center;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: -1.125rem;
      top: 0.5rem;
      width: 0;
      height: 0;
      border-top: 0.4375rem solid #f9b43b;
      border-left: 0.3125rem solid transparent;
      border-right: 0.3125rem solid transparent;
      border-bottom: 0rem solid transparent;
      transform: rotate(180deg);
      transition: .3s;
    }
    &--active {
      color: #f9b43b;
      &:before {
        transform: rotate(0deg);
      }
    }
  }
  &__info {
    // height: 6.25rem;
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
    display: none;
    // display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    padding-top: 0;
    margin-left: -10px;
    transition: .3s;
    &--active {
      display: flex;
    }
  }
  &__photo {
    width: 6.25rem;
    height: 6.25rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    &--1 {background-image: url(../img/teammate1.jpg);}
    &--2 {background-image: url(../img/teammate2.jpg);}
    &--3 {background-image: url(../img/teammate3.jpg);}
    &--4 {background-image: url(../img/teammate4.jpg);}
  }
  &__details {
    margin-left: 0.9375rem;
    width: 70%;
  }
  &__position {
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    color: #fff;
    margin-bottom: 0.875rem;
  }
  &__description {
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 0.875rem;
  }


}
