*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: border-box;
// box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
  // font-size: 62.5%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  // box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0;
}


address {
  font-style: normal;
}

button, button:hover, button:active {
  /*Reset's every elements apperance*/
  background: none repeat scroll 0 0 transparent;
  border: none;
  border-spacing: 0;
  background: none;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  // overflow: hidden;
}

.wrapper:after {
  content: "";
  display: block;
  height: 75px;
}

.section {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 40.625rem;
  overflow: hidden;
}

.container {
  position: relative;
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  &--greeting {
    display: flex;
    flex-direction: column;
  }
  &--features {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }
  &--menu {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // align-self: center;  
  }
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
